* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


header {
    background: #852222;
    color: #ffffff;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
}
html, body {
    font-family: sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
    min-height: 100%;
    overflow: auto;
    background:#6e6565;
}
h1, h2, p {
    color: black;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    padding: 10px;
    width: 100%;
    height: 1000px;
    border: none;
}
ul {
    padding-left: 30px;
    padding-bottom: 10px;
}
li {
    padding: 5px;
}
video {
    margin-left: 10px;
    width: 60%;
}
footer {
    margin-top: 77px;
    position: relative;
    font-size: 18px;
    text-align: center;
    background-color: #852222;
}
footer p {
    padding: 20px;
}

aside {
    background: #cd853f;
    box-shadow: 0 5px 8px #852222, 0 5px 8px #852222;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
}
aside p {
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}
aside:hover {
    background: #94581c;
    color: #2d2dc5;
}   


article {
    background: #cd853f;
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
article  p, article h1 {    
    padding: 10px;
}
article h1 {
    padding-top: 20px;
}

#links_list a {
    color: #852222;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 18px;
}


@media screen and (max-width: 768px) {   /*tablets*/
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .col-s-4 {
        display: flex;
        flex-wrap: wrap;
    }
    .col-s-4 aside {
        flex-grow: 3;
        margin: 10px;
        padding: 20px;
    }
    aside {
        margin: 0px 10px;
    }
}
@media screen and (max-width: 600px) {   /*smartphones*/
    [class*="col-"] {
        width: 100%;    
    }
    .col-3 {
        display: inline;
        padding: 10px 10px 10px 10px;
    }
    aside {
        margin: 10px 0px;
    }
    footer {
        display: block;
    }
}